# Day 1

In [7]:
name = input("Enter your name:")
age = int(input("Enter your age:"))
print("Hello" ,name, "! you are ",age, "years old.")

Enter your name:  priyanka
Enter your age: 20

Hello  priyanka ! you are  20 years old.

In [9]:
# operators
a = 10
b = 3
print("Addition:", a+b)
print("subtraction:" ,a-b)
print("Multiplication:", a*b)
print("Division:", a/b)
print("Remainder:",a%b)

Addition: 13
subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Remainder: 1

In [ ]:
# DATAFRAME-- IS A TWO- DIMENSIONAL TABLE OF DATA WITH ROWS AND COLUMNS, SIMILAR TO AN EXCEL
# SPREADSHEATS OR SQL TABLE,USED FOR DATA MANIPULATION AND ANALYSIS
# OR 2D DATA STRUCTURE WITH ROWS AND COLUMNS.
#  Pandas DataFrame Operations

In [1]:
#Pandas basics
import pandas as pd
 #sample data

In [12]:
data = pd.read_csv("movies_metadata.csv")  
print(data.head())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]

C:\Users\Acer Aspire 3\AppData\Local\Temp\ipykernel_9996\3627505850.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("movies_metadata.csv")

## Day 2

In [14]:
df = pd.DataFrame(data)
print(df)

       adult                              belongs_to_collection    budget  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1      False                                                NaN  65000000
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3      False                                                NaN  16000000
4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
...      ...                                                ...       ...
45461  False                                                NaN         0
45462  False                                                NaN         0
45463  False                                                NaN         0
45464  False                                                NaN         0
45465  False                                                NaN         0

                                                  genres  \
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         [{'id': 35, 'name': 'Comedy'}]
...                                                  ...
45461  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                      [{'id': 18, 'name': 'Drama'}]
45463  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                 []
45465                                                 []

                                   homepage      id    imdb_id  \
0      http://toystory.disney.com/toy-story     862  tt0114709
1                                       NaN    8844  tt0113497
2                                       NaN   15602  tt0113228
3                                       NaN   31357  tt0114885
4                                       NaN   11862  tt0113041
...                                     ...     ...        ...
45461  http://www.imdb.com/title/tt6209470/  439050  tt6209470
45462                                   NaN  111109  tt2028550
45463                                   NaN   67758  tt0303758
45464                                   NaN  227506  tt0008536
45465                                   NaN  461257  tt6980792

      original_language               original_title  \
0                    en                    Toy Story
1                    en                      Jumanji
2                    en             Grumpier Old Men
3                    en            Waiting to Exhale
4                    en  Father of the Bride Part II
...                 ...                          ...
45461                fa                      رگ خواب
45462                tl          Siglo ng Pagluluwal
45463                en                     Betrayal
45464                en          Satana likuyushchiy
45465                en                     Queerama

                                                overview  ... release_date  \
0      Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1      When siblings Judy and Peter discover an encha...  ...   1995-12-15
2      A family wedding reignites the ancient feud be...  ...   1995-12-22
3      Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4      Just when George Banks has recovered from his ...  ...   1995-02-10
...                                                  ...  ...          ...
45461        Rising and falling between a man and woman.  ...          NaN
45462  An artist struggles to finish his work while a...  ...   2011-11-17
45463  When one of her hits goes wrong, a professiona...  ...   2003-08-01
45464  In a small town live two brothers, one a minis...  ...   1917-10-21
45465  50 years after decriminalisation of homosexual...  ...   2017-06-09

           revenue runtime                                   spoken_languages  \
0      373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1      262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2              0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3       81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4       76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
...            ...     ...                                                ...
45461          0.0    90.0             [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462          0.0   360.0                  [{'iso_639_1': 'tl', 'name': ''}]
45463          0.0    90.0           [{'iso_639_1': 'en', 'name': 'English'}]
45464          0.0    87.0                                                 []
45465          0.0    75.0           [{'iso_639_1': 'en', 'name': 'English'}]

         status                                            tagline  \
0      Released                                                NaN
1      Released          Roll the dice and unleash the excitement!
2      Released  Still Yelling. Still Fighting. Still Ready for...
3      Released  Friends are the people who let you be yourself...
4      Released  Just When His World Is Back To Normal... He's ...
...         ...                                                ...
45461  Released         Rising and falling between a man and woman
45462  Released                                                NaN
45463  Released                             A deadly game of wits.
45464  Released                                                NaN
45465  Released                                                NaN

                             title  video vote_average vote_count
0                        Toy Story  False          7.7     5415.0
1                          Jumanji  False          6.9     2413.0
2                 Grumpier Old Men  False          6.5       92.0
3                Waiting to Exhale  False          6.1       34.0
4      Father of the Bride Part II  False          5.7      173.0
...                            ...    ...          ...        ...
45461                       Subdue  False          4.0        1.0
45462          Century of Birthing  False          9.0        3.0
45463                     Betrayal  False          3.8        6.0
45464             Satan Triumphant  False          0.0        0.0
45465                     Queerama  False          0.0        0.0

[45466 rows x 24 columns]

In [29]:
# PANDAS DATAFRAME INDEX


df = pd.DataFrame(data)
print(df. index)

RangeIndex(start=0, stop=3, step=1)

In [113]:
#2. Pandas DataFrame Index
# Show default index
print(df.index)

# Set a column as index (optional)
df_indexed = df.set_index('title')
print(df_indexed.head())

Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       45455, 45456, 45457, 45458, 45459, 45460, 45462, 45463, 45464, 45465],
      dtype='int64', length=45376)
                             adult      budget  \
title
Toy Story                    False  30000000.0
Jumanji                      False  65000000.0
Grumpier Old Men             False         0.0
Waiting to Exhale            False  16000000.0
Father of the Bride Part II  False         0.0

                                                                        genres  \
title
Toy Story                    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
Jumanji                      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
Grumpier Old Men             [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
Waiting to Exhale            [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
Father of the Bride Part II                     [{'id': 35, 'name': 'Comedy'}]

                                id original_language  \
title
Toy Story                      862                en
Jumanji                       8844                en
Grumpier Old Men             15602                en
Waiting to Exhale            31357                en
Father of the Bride Part II  11862                en

                                          original_title  \
title
Toy Story                                      Toy Story
Jumanji                                          Jumanji
Grumpier Old Men                        Grumpier Old Men
Waiting to Exhale                      Waiting to Exhale
Father of the Bride Part II  Father of the Bride Part II

                                                                      overview  \
title
Toy Story                    Led by Woody, Andy's toys live happily in his ...
Jumanji                      When siblings Judy and Peter discover an encha...
Grumpier Old Men             A family wedding reignites the ancient feud be...
Waiting to Exhale            Cheated on, mistreated and stepped on, the wom...
Father of the Bride Part II  Just when George Banks has recovered from his ...

                            popularity  \
title
Toy Story                    21.946943
Jumanji                      17.015539
Grumpier Old Men               11.7129
Waiting to Exhale             3.859495
Father of the Bride Part II   8.387519

                                                          production_companies  \
title
Toy Story                       [{'name': 'Pixar Animation Studios', 'id': 3}]
Jumanji                      [{'name': 'TriStar Pictures', 'id': 559}, {'na...
Grumpier Old Men             [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
Waiting to Exhale            [{'name': 'Twentieth Century Fox Film Corporat...
Father of the Bride Part II  [{'name': 'Sandollar Productions', 'id': 5842}...

                                                          production_countries  \
title
Toy Story                    [{'iso_3166_1': 'US', 'name': 'United States o...
Jumanji                      [{'iso_3166_1': 'US', 'name': 'United States o...
Grumpier Old Men             [{'iso_3166_1': 'US', 'name': 'United States o...
Waiting to Exhale            [{'iso_3166_1': 'US', 'name': 'United States o...
Father of the Bride Part II  [{'iso_3166_1': 'US', 'name': 'United States o...

                            release_date      revenue  runtime  \
title
Toy Story                     1995-10-30  373554033.0     81.0
Jumanji                       1995-12-15  262797249.0    104.0
Grumpier Old Men              1995-12-22          0.0    101.0
Waiting to Exhale             1995-12-22   81452156.0    127.0
Father of the Bride Part II   1995-02-10   76578911.0    106.0

                                                              spoken_languages  \
title
Toy Story                             [{'iso_639_1': 'en', 'name': 'English'}]
Jumanji                      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
Grumpier Old Men                      [{'iso_639_1': 'en', 'name': 'English'}]
Waiting to Exhale                     [{'iso_639_1': 'en', 'name': 'English'}]
Father of the Bride Part II           [{'iso_639_1': 'en', 'name': 'English'}]

                               status  vote_average  vote_count  year
title
Toy Story                    Released           7.7      5415.0  1995
Jumanji                      Released           6.9      2413.0  1995
Grumpier Old Men             Released           6.5        92.0  1995
Waiting to Exhale            Released           6.1        34.0  1995
Father of the Bride Part II  Released           5.7       173.0  1995

Columns:
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [66]:
# Null value check
df.isnull().sum().sort_values(ascending=False)

belongs_to_collection    40972
homepage                 37684
tagline                  25054
overview                   954
poster_path                386
runtime                    263
status                      87
release_date                87
imdb_id                     17
original_language           11
spoken_languages             6
title                        6
video                        6
vote_average                 6
revenue                      6
vote_count                   6
popularity                   5
production_companies         3
production_countries         3
original_title               0
id                           0
genres                       0
budget                       0
adult                        0
dtype: int64

In [72]:
# Convert to datetime
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# Convert budget and revenue to numeric
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')

# Fill null runtimes with median
df['runtime'] = df['runtime'].fillna(df['runtime'].median())

# Drop rows with missing titles or release dates
df.dropna(subset=['title', 'release_date'], inplace=True)

print("After Cleaning Shape:", df.shape)

After Cleaning Shape: (45376, 18)

In [79]:
# Top 5 release years (recent)
df['release_date'].dt.year.value_counts().sort_index(ascending=False).head()

release_date
2020       1
2018       5
2017     532
2016    1604
2015    1905
Name: count, dtype: int64

                     title release_date
1081         The Sleepover   2013-10-12
2114     The Farmer's Wife   2012-06-20
2564  A Place at the Table   2012-03-22
2778               Romance   2012-10-09
4122          Kingdom Come   2011-01-01

In [83]:
# Only English language movies
english_movies = df[df['original_language'] == 'en']
print("English Movies Count:", len(english_movies))

English Movies Count: 32202

In [85]:
# Sort by runtime
df[['title', 'runtime']].sort_values(by='runtime', ascending=False).head()

                                title  runtime
24178                      Centennial   1256.0
40938                        Baseball   1140.0
19965                            Jazz   1140.0
13767           Berlin Alexanderplatz    931.0
13953  Heimat: A Chronicle of Germany    925.0

In [87]:
# Filter by budget
high_budget = df[df['budget'] > 100_000_000]
high_budget[['title', 'budget']].sort_values(by='budget', ascending=False).head()

                                             title       budget
17124  Pirates of the Caribbean: On Stranger Tides  380000000.0
11827     Pirates of the Caribbean: At World's End  300000000.0
26558                      Avengers: Age of Ultron  280000000.0
11067                             Superman Returns  270000000.0
16130                                      Tangled  260000000.0

In [91]:
#3. Access Data in DataFrame
#Access a single column
print(df['title'].head())

# Access multiple columns
print(df[['title', 'release_date']].head())

# Access by row/column position
print(df.iloc[0])           # first row
print(df.iloc[0, 1])        # first row, second column
print(df.loc[0, 'title'])   # row 0, column 'title'

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: title, dtype: object
                         title release_date
0                    Toy Story   1995-10-30
1                      Jumanji   1995-12-15
2             Grumpier Old Men   1995-12-22
3            Waiting to Exhale   1995-12-22
4  Father of the Bride Part II   1995-02-10
adult                                                               False
budget                                                         30000000.0
genres                  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
id                                                                    862
original_language                                                      en
original_title                                                  Toy Story
overview                Led by Woody, Andy's toys live happily in his ...
popularity                                                      21.946943
production_companies       [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries    [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                          1995-10-30 00:00:00
revenue                                                       373554033.0
runtime                                                              81.0
spoken_languages                 [{'iso_639_1': 'en', 'name': 'English'}]
status                                                           Released
title                                                           Toy Story
vote_average                                                          7.7
vote_count                                                         5415.0
Name: 0, dtype: object
30000000.0
Toy Story

In [93]:
#4. Indexing and Selecting Data with Pandas
# Select rows based on a condition
df_recent = df[pd.to_datetime(df['release_date'], errors='coerce').dt.year > 2010]
print(df_recent[['title', 'release_date']].head())

                     title release_date
1081         The Sleepover   2013-10-12
2114     The Farmer's Wife   2012-06-20
2564  A Place at the Table   2012-03-22
2778               Romance   2012-10-09
4122          Kingdom Come   2011-01-01

In [95]:
#5. Slicing Pandas DataFrame
# Slice first 5 rows
print(df[:5])

# Slice from row 10 to 20
print(df[10:21])

   adult      budget                                             genres  \
0  False  30000000.0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  False  65000000.0  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  False         0.0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  False  16000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4  False         0.0                     [{'id': 35, 'name': 'Comedy'}]

      id original_language               original_title  \
0    862                en                    Toy Story
1   8844                en                      Jumanji
2  15602                en             Grumpier Old Men
3  31357                en            Waiting to Exhale
4  11862                en  Father of the Bride Part II

                                            overview popularity  \
0  Led by Woody, Andy's toys live happily in his ...  21.946943
1  When siblings Judy and Peter discover an encha...  17.015539
2  A family wedding reignites the ancient feud be...    11.7129
3  Cheated on, mistreated and stepped on, the wom...   3.859495
4  Just when George Banks has recovered from his ...   8.387519

                                production_companies  \
0     [{'name': 'Pixar Animation Studios', 'id': 3}]
1  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3  [{'name': 'Twentieth Century Fox Film Corporat...
4  [{'name': 'Sandollar Productions', 'id': 5842}...

                                production_countries release_date  \
0  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30
1  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15
2  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22
3  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22
4  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-02-10

       revenue  runtime                                   spoken_languages  \
0  373554033.0     81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0    104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0    101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0    127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0    106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                        title  vote_average  vote_count
0  Released                    Toy Story           7.7      5415.0
1  Released                      Jumanji           6.9      2413.0
2  Released             Grumpier Old Men           6.5        92.0
3  Released            Waiting to Exhale           6.1        34.0
4  Released  Father of the Bride Part II           5.7       173.0
    adult      budget                                             genres  \
10  False  62000000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11  False         0.0  [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12  False         0.0  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13  False  44000000.0  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14  False  98000000.0  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15  False  52000000.0  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16  False  16500000.0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17  False   4000000.0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18  False  30000000.0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19  False  60000000.0  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20  False  30250000.0  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...

       id original_language                  original_title  \
10   9087                en          The American President
11  12110                en     Dracula: Dead and Loving It
12  21032                en                           Balto
13  10858                en                           Nixon
14   1408                en                Cutthroat Island
15    524                en                          Casino
16   4584                en           Sense and Sensibility
17      5                en                      Four Rooms
18   9273                en  Ace Ventura: When Nature Calls
19  11517                en                     Money Train
20   8012                en                      Get Shorty

                                             overview popularity  \
10  Widowed U.S. president Andrew Shepherd, one of...   6.318445
11  When a lawyer shows up at the vampire's doorst...   5.430331
12  An outcast half-wolf risks his life to prevent...  12.140733
13  An all-star cast powers this epic look at Amer...      5.092
14  Morgan Adams and her slave, William Shaw, are ...   7.284477
15  The life of the gambling paradise – Las Vegas ...  10.137389
16  Rich Mr. Dashwood dies, leaving his second wif...  10.673167
17  It's Ted the Bellhop's first night on the job....   9.026586
18  Summoned from an ashram in Tibet, Ace finds hi...   8.205448
19  A vengeful New York transit cop decides to ste...   7.337906
20  Chili Palmer is a Miami mobster who gets sent ...  12.669608

                                 production_companies  \
10  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
11  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
12  [{'name': 'Universal Pictures', 'id': 33}, {'n...
13  [{'name': 'Hollywood Pictures', 'id': 915}, {'...
14  [{'name': 'Le Studio Canal+', 'id': 183}, {'na...
15  [{'name': 'Universal Pictures', 'id': 33}, {'n...
16  [{'name': 'Columbia Pictures Corporation', 'id...
17  [{'name': 'Miramax Films', 'id': 14}, {'name':...
18  [{'name': 'O Entertainment', 'id': 5682}, {'na...
19           [{'name': 'Columbia Pictures', 'id': 5}]
20  [{'name': 'Jersey Films', 'id': 216}, {'name':...

                                 production_countries release_date  \
10  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-11-17
11  [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...   1995-12-22
12  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22
13  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22
14  [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...   1995-12-22
15  [{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...   1995-11-22
16  [{'iso_3166_1': 'GB', 'name': 'United Kingdom'...   1995-12-13
17  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-09
18  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-11-10
19  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-11-21
20  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-20

        revenue  runtime                                   spoken_languages  \
10  107879496.0    106.0           [{'iso_639_1': 'en', 'name': 'English'}]
11          0.0     88.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
12   11348324.0     78.0           [{'iso_639_1': 'en', 'name': 'English'}]
13   13681765.0    192.0           [{'iso_639_1': 'en', 'name': 'English'}]
14   10017322.0    119.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
15  116112375.0    178.0           [{'iso_639_1': 'en', 'name': 'English'}]
16  135000000.0    136.0           [{'iso_639_1': 'en', 'name': 'English'}]
17    4300000.0     98.0           [{'iso_639_1': 'en', 'name': 'English'}]
18  212385533.0     90.0           [{'iso_639_1': 'en', 'name': 'English'}]
19   35431113.0    103.0           [{'iso_639_1': 'en', 'name': 'English'}]
20  115101622.0    105.0           [{'iso_639_1': 'en', 'name': 'English'}]

      status                           title  vote_average  vote_count
10  Released          The American President           6.5       199.0
11  Released     Dracula: Dead and Loving It           5.7       210.0
12  Released                           Balto           7.1       423.0
13  Released                           Nixon           7.1        72.0
14  Released                Cutthroat Island           5.7       137.0
15  Released                          Casino           7.8      1343.0
16  Released           Sense and Sensibility           7.2       364.0
17  Released                      Four Rooms           6.5       539.0
18  Released  Ace Ventura: When Nature Calls           6.1      1128.0
19  Released                     Money Train           5.4       224.0
20  Released                      Get Shorty           6.4       305.0

In [97]:


#6 filter dataframe with multiple conditions
# Filter: budget > 10M and language is English
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df_filtered = df[(df['budget'] > 10000000) & (df['original_language'] == 'en')]
print(df_filtered[['title', 'budget', 'original_language']].head())

               title      budget original_language
0          Toy Story  30000000.0                en
1            Jumanji  65000000.0                en
3  Waiting to Exhale  16000000.0                en
5               Heat  60000000.0                en
6            Sabrina  58000000.0                en

In [115]:
#7 merging ,joining,concatenating, dataframes
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['A', 'B']})
df2 = pd.DataFrame({'ID': [3, 4], 'Name': ['C', 'D']})

df_concat = pd.concat([df1, df2])
print(df_concat)

   ID Name
0   1    A
1   2    B
0   3    C
1   4    D

In [109]:
#8. Sorting Pandas DataFrame
# Sort by runtime descending
df['runtime'] = pd.to_numeric(df['runtime'], errors='coerce')
df_sorted = df.sort_values(by='runtime', ascending=False)
print(df_sorted[['title', 'runtime']].head())

                                title  runtime
24178                      Centennial   1256.0
40938                        Baseball   1140.0
19965                            Jazz   1140.0
13767           Berlin Alexanderplatz    931.0
13953  Heimat: A Chronicle of Germany    925.0

In [111]:
#9 Pivot Table in Pandas
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['year'] = df['release_date'].dt.year
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')

# Pivot table
pivot = df.pivot_table(values='revenue', index='year', aggfunc='mean')
print(pivot.tail())

           revenue
year
2015  1.512827e+07
2016  1.901364e+07
2017  2.833815e+07
2018  0.000000e+00
2020  0.000000e+00